*{
	outline: 2px dotted blaqck;
	padding: 0px;
	margin: 0px;
}

#container{
	margin: 0px auto;
	min-height: 300px;
	width: 970px;
	background-color: #5279ce;
	background-image: linear-gradient(#1f517c,#6f8dce);
}
#container header img{
	display: inline-block;
	margin-left: 20px;
	width: 300px;
}
#container header #search{
	display: inline-block;
	padding: 10px 30px 10px 30px;
	border-radius: 8px;
	background-color: #666666;
}
#container nav{
	border-radius: 6px;
	margin: 10px auto 10px auto;
	background-color: #6183cc;
	width: 630px;
	height: 20px;
	padding: 10px;
}
#container nav a{
	color: white;
	text-decoration: none;
	padding: 20px;
}

#container #main_content aside{
	margin: 30px 40px auto 40px; 
	display: inline-block;
	width: 200px;
	text-align: center;

}
#container #main_content aside a{
	color: white;
	text-decoration: underline;
}
#container #main_content #description{
	margin: 10px auto auto auto;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 400px;
	color: white;
}
#container #links{
	background-color: white;
	min-height: 50px;
	padding-left: 50px;
	text-align: center;
}
#container #links .column{
	margin: 10px 0 0 20px;
	display: inline-block;
	border-top: 5px solid #7399c4;
	width: 420px;
	min-height: 50px;
}
#container #links .column a{
	color: #7399c4;
	text-decoration: none;
}