span{
	color:red;
	font-size: large;
}
.cute{
	color: #fc6cc7;
	text-align: center;
}
.fuck{
	font-family: "Comic Sans MS", Helvetica, Arial;
	font-size: x-large;

}
div.sticky1 {
    position: sticky;
    top: 0;
    float: right;
    left: 1000px;
    background-color: khaki;
    width:30% ;
    border-width: 20px;
    border-color: black;
}
img.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}