*{
	margin: 0;
	padding: 0;
}
#container{
	padding: 2%;
	position: absolute;
	width: 96%;
}
header{
	background-color: green;
	height: 100px;
	margin-bottom: 10px;
}
aside{
	background-color: blue;
	vertical-align: top;
	height: 300px;
}
#main{
	background-color: red;
	min-height: 250px;
	height: 550px;
	padding: 1%;
}
.yellow{
	display: inline-block;
	background-color: yellow;
}
.purple{
	display: block;
	background-color: purple;
	width: 98%;
	height: 100px;
	margin: 1%;
}
@media only screen and (max-width: 480px){
	aside{
		display: none;
	}
	.yellow{
		display: block;
		width: 100%;
		height: 24%;
		margin-top: 10px;
	}
	.purple{
		margin-top: 10px;
		height: 20%;
	}
	#main{
		padding: 2% 4% 2% 4%;
	}
}
@media only screen and (min-width: 481px){
	aside{
		display: none;
	}
	#main{
		display: block;
	}
	.yellow{
		width: 47%;
		height: 35%;
		margin: 1%;
	}
}
@media only screen and (min-width: 1024px){
	aside{
		display: inline-block;
		width: 21%;
		margin-right: 10px
	}
	#main{
		width: 73%;
		display: inline-block;
		position: absolute;
		right: 2%;
	}
	.yellow{
		width: 30%;
		height: 50%;
		margin: 1%;
	}
	.purple{
		height: 40%;
	}
}